@import url('../__cell/_theme/table__cell_theme_light.css');
@import url('../__cell/_theme/table__cell_theme_dark.css');

.table__cell {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
