@import url('../__text/_theme/table__text_theme_light.css');
@import url('../__text/_theme/table__text_theme_dark.css');

.table__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}
